{
  "extends": "stylelint-config-standard-scss",
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "declaration-block-no-duplicate-properties": null,
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": null
  }
}
