@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');
@import "nucleo/scss/nucleo";

$background: #F4D58D;
$secondary-background: #708D81;
$color: #001427;
$accent-color: #BF0603;
$dark-accent-color: #8D0801;

$content-width: 1300px;

$br-small: 420px;
$br-phone: 640px;
$br-tablet: 1000px;

html {
  background: $secondary-background;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.58;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @media only screen and (min-width: $content-width) {
    font-size: 20px;
  }
}

body {
  color: $color;
  font-family: 'Inter', sans-serif;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

.Wrapper {
  background: #F4D58D;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: $content-width;
  padding: 3em 1.5em;

  @media only screen and (min-width: $br-phone) {
    padding: 3em;
  }

  @media only screen and (min-width: $content-width) {
    padding: 5em;
  }
}

h1 {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 1.2;
  margin: 1.5em 0;

  @media only screen and (min-width: $br-small) {
    font-size: 4em;
    line-height: 1.1;
  }

  @media only screen and (min-width: $br-phone) {
    font-size: 6em;
    line-height: 1;
    margin: 0.67em 0;
  }

  @media only screen and (min-width: $br-tablet) {
    font-size: 8em;
  }
}

h2 {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 1;

  @media only screen and (min-width: $br-small) {
    font-size: 2.5em;
  }

  @media only screen and (min-width: $br-phone) {
    font-size: 3em;
  }
}

a {
  color: $accent-color;
  font-weight: 900;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $dark-accent-color;
  }
}

header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-between;

  .header__social {
    align-items: center;
    display: flex;

    i.nc {
      color: $color;
      font-size: 1.25em;

      &:active,
      &:focus,
      &:hover {
        color: $accent-color;
      }
    }

    a {
      line-height: 1;

      &:not(:first-child) {
        margin-left: 1em;

        @media only screen and (min-width: $br-phone) {
          margin-left: 1.5em;
        }
      }
    }
  }

  .header__actions a {
    &:not(:first-child) {
      margin-left: 1em;

      @media only screen and (min-width: $br-phone) {
        margin-left: 1.5em;
      }
    }
  }
}

main {
  grid-area: main;
}

.Hero {
  h1 {
    max-width: 1000px;
  }

  p {
    font-size: 1.2em;
    max-width: 550px;
  }
}

.Section {
  border-top: 0.2em solid $color;
  margin-top: 5em;

  @media only screen and (min-width: $br-phone) {
    margin-top: 8em;
  }

  &__links {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;

    @media only screen and (min-width: $br-phone) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: $br-tablet) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    a {
      p {
        font-weight: normal;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  margin-top: 5em;

  @media only screen and (min-width: $br-phone) {
    margin-top: 8em;
  }
}
