@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap";
@import "nucleo/scss/nucleo";

$background: #fefae0;
$secondary-background: #faedcd;
$color: #161c00;
$accent-color: #d4a373;
$content-width: 1200px;
$br-small: 420px;
$br-phone: 640px;
$br-tablet: 1000px;

html {
  background: $secondary-background;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.58;
  overflow-y: scroll;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: $color;
  font-family: Inter, sans-serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

.OuterWrapper {
  background: $background;
  margin: 0 auto;
  max-width: $content-width;
  min-height: 100vh;
}

.Wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto;
  padding: 3em 1.5em;

  @media only screen and (min-width: $br-phone) {
    padding: 3em 2em;
  }

  @media only screen and (min-width: $content-width) {
    padding: 6em 4em 4em;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: -0.055em;
  margin: 1.5em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: -0.055em;
  line-height: 1;
}

a {
  color: $color;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus {
    color: $accent-color;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

header {
  align-items: flex-start;
  display: flex;
  grid-area: header;
  justify-content: space-between;

  @media only screen and (min-width: $br-phone) {
    align-items: center;
  }

  a {
    opacity: 0.8;
    text-decoration: none !important;
    transition: opacity 0.05s ease-out;

    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  .header__social {
    align-items: center;
    display: flex;
    font-size: 1.1em;

    i.nc {
      color: $color;
      font-size: 1.25em;

      &:active {
        color: $accent-color;
      }
    }

    a {
      line-height: 1;
      opacity: 0.9;

      &:not(:first-child) {
        margin-left: 1em;

        @media only screen and (min-width: $br-phone) {
          margin-left: 1em;
        }
      }
    }
  }

  .header__actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;

    @media only screen and (min-width: $br-phone) {
      flex-direction: row;

      a {
        &:not(:first-child) {
          margin-left: 1em;

          @media only screen and (min-width: $br-phone) {
            margin-left: 1em;
          }
        }
      }
    }
  }
}

main {
  grid-area: main;
}

.Hero {
  margin-top: 2em;

  @media only screen and (min-width: $br-phone) {
    margin-top: 4em;
  }

  @media only screen and (min-width: $br-tablet) {
    margin-top: 6em;
  }

  h1 {
    margin: 0.4em 0;

    span {
      color: $accent-color;
    }
  }
}

.Section {
  margin-bottom: 3em;

  & > :first-child {
    margin-bottom: 1em;

    @media only screen and (min-width: $br-tablet) {
      margin-bottom: 1.5em;
    }
  }

  &__links {
    p {
      margin-top: 0;
    }
  }
}

.SectionGrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  margin-top: 2em;

  @media only screen and (min-width: $br-phone) {
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;

    .Section {
      &__links {
        p {
          max-width: 400px;
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  margin-top: 1em;

  :last-child {
    margin-bottom: 0;
  }
}
